#about-me-section {
    margin: 0;
}

#about-me-section, 
#about-me-section h2,
#about-me-section p {
    background-color: var(--background-color-2);
}

#about-me-section h2 {
    font-family: 'Lobster', 'Montserrat', sans-serif;
    font-size: 48px;
    color: var(--main-color);
    margin: -75px 0 30px 0;
    padding: .25em 0 0 .25em;
}

#about-me-section p {
    text-align: justify;
    font-size: 14px;
    font-weight: lighter;
    padding: 0 1em;
}