/* ESTILOS GLOBALES */

/* GOOGLE FONT */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap");

/* VARIABLES */
:root {
  --header-height: 3rem;

  /* Colores */
  --hue-color: 168;

  --first-color: hsl(var(--hue-color), 62%, 56%);
  --first-color-alt: hsl(var(--hue-color), 50%, 48%);
  --first-color-light: hsl(var(--hue-color), 62%, 85%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 47%);
  --text-color-light: hsl(0, 0%, 68%);
  --input-color: hsl(var(--hue-color), 62%, 88%);
  --body-color: hsl(var(--hue-color), 53%, 99%);
  --container-color: hsl(0, 0%, 100%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

  /* Fuente y tipografía */
  --body-font: "Jost", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px, ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* Peso de la fuentamaño-fuentete */
  --medium-font: 500;
  --semi-bold-font: 600;

  /* Margin bottom */
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px, ...*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* Z index */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Tamaño de fuente para dispositivos grandes */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* Variables para tema oscuro */
.dark-theme {
  --first-color: hsl(var(--hue-color), 62%, 56%);
  --first-color-light: hsl(var(--hue-color), 62%, 30%);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 77%);
  --input-color: hsl(var(--hue-color), 21%, 8%);
  --body-color: hsl(192, 45%, 4%);
  --container-color: hsl(var(--hue-color), 29%, 16%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}
