#home-section {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 3em;
}

#home-section .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

#home-section h1 {
    line-height: 0;
    font-weight: bold;
    font-size: 35px;
}

#home-section h2,
#home-section p {
    font-weight: lighter;
}

#home-section h2 {
    font-size: 30px;
}

#home-section p {
    font-size: 14px;
}

#home-section .button {
    border: 1px solid var(--main-color);
    width: fit-content;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: box-shadow .25s linear;
    font-size: 25px;
}

#home-section .button:hover {
    box-shadow: 1px 0px 14px 13px var(--main-color);
        -webkit-box-shadow: 1px 0px 14px 1px var(--main-color);
        -moz-box-shadow: 1px 0px 14px 1px var(--main-color);
}

#home-img {
    width: 90%;
    border-radius: 10px;
    background: var(--main-color);
    border: 1px solid #fff;
    padding-top: .25em;
}