#home-section {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 3em;
}

#home-section .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

#home-section h1 {
    line-height: 0;
    font-weight: bold;
}

#home-section h2,
#home-section p {
    font-weight: lighter;
}

#home-section .button {
    border: 1px solid var(--main-color);
    width: fit-content;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: box-shadow .25s linear;
}

#home-section .button:hover {
    box-shadow: 1px 0px 14px 13px var(--main-color);
        -webkit-box-shadow: 1px 0px 14px 1px var(--main-color);
        -moz-box-shadow: 1px 0px 14px 1px var(--main-color);
}

#home-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.animate-on-scroll {
    opacity: 0;
    visibility: hidden;
}

.active-element {
    opacity: 1;
    visibility: visible;
    animation: 0.4s ease fadeIn 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}