.qualification__tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2);
}

.qualification__btn {
  font-size: var(--h3-font-size);
  font-weight: var(--medium-font);
  cursor: pointer;
}

.qualification__btn:hover {
  color: var(--first-color);
}

.qualification__icon {
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
}

.qualification__btn.active__qualification {
  color: var(--first-color);
}

/* MEDIA QUERIES */

/* Para dispositivos medianos */
@media screen and (min-width: 568px) {
  .qualification__sections {
    display: grid;
    grid-template-columns: 0.6fr;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .qualification__tabs {
    justify-content: center;
  }

  .qualification__btn {
    margin: 0 var(--mb-1);
  }

  .qualification__sections {
    grid-template-columns: 0.5fr;
  }
}
