.qualification__content {
  display: none;
}

.active__qualification {
  display: block;
  animation: 0.4s ease fadeIn 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
