/* MEDIA QUERIES */

/* Para dispositivos pequeños */
@media screen and (max-width: 350px) {
  .home__img {
    width: 200px;
  }
}

@media screen and (max-width: 568px) {
  .home__img {
    width: 250px;
  }
}

/* Para dispositivos medianos */
@media screen and (min-width: 568px) {
  .home__img {
    order: 1;
    justify-self: center;
  }
}

@media screen and (min-width: 768px) {
  .home__img {
    width: 350px;
  }
}
