nav {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    position: fixed;
    top: 0;
    width: -webkit-fill-available;
}

#name,
#name span {
    font-family: 'Lobster', 'Montserrat', sans-serif;
    font-size: 36px;
}

#name span {
    color: var(--main-color);
}

#menu ul {
    list-style: none;
    display: flex;
    gap: 3em;
    padding-top: 5px;
}

#menu ul li a {
    text-decoration: none;
}

#menu ul li a:hover {
    color: var(--main-color);
}