.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
  transition: 0.5s;
}

.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo a {
  margin-top: 0.5rem;
  transition: 0.15s;
}

.nav__logo a,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--medium-font);
  font-size: var(--h3-font-size);
}

.nav__logo a:hover {
  color: var(--first-color);
  cursor: pointer;
  filter: drop-shadow(0 0 0.5rem var(--first-color-light));
}

.nav__toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav__toggle:hover {
  color: var(--first-color);
}
