.about__img {
  justify-self: center;
  align-self: center;
}

.about__description {
  text-align: justify;
  margin-bottom: var(--mb-2-5);
}

.about__btn {
  display: flex;
  justify-content: center;
}

.about__description-icon {
  color: var(--first-color-alt);
  position: relative;
  top: 0.25rem;
}

/* MEDIA QUERIES */

/* Para dispositivos medianos */
@media screen and (min-width: 768px) {
  .about__container {
    column-gap: 5rem;
    align-items: center;
  }

  .about__img {
    width: 350px;
  }
}
