:root {
  --background-color: #060606;
  --text-color: #fff;
  --main-color: #11ceaa;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
  /* Adjust path and format */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/montserrat/Montserrat-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

* {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}