:root {
  --background-color-1: #060606;
  --background-color-2: #111111;
  --text-color: #fff;
  --main-color: #11ceaa;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/montserrat/Montserrat-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Lobster';
  src: url('./assets/fonts/lobster/LobsterTwo-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color-1);
}

html {
  scroll-behavior: smooth;
}